:root {
    
    /* ===== COLORS ===== */
    --absolute-color: #000000;
    --bluey-color: #001934;
    --bluey-color-2: #002548;

    /* ===== BACKGROUNDS ===== */
    --main-bg-color: #1b1c1e;           
    --surface-bg-color: rgb(62, 62, 63, 0.3);    
    --surface-alt-bg-color: #3a3d41;    

    --header-bg-color: #292929;

    /* ===== TEXT ===== */
    --text-primary-color: #e5e7eb;
    --text-secondary-color: #9ca3af;

    --text-oposite-color: #1b1c1e;

    /* ===== ACCENTS ===== */
    --accent-color: #33aaff;
    --accent-hover-color: #1293e6;
    
    --button-color: #0078d7;
    --button-hover-color: #005fa3;

    /* ===== BORDERS & SHADOWS ===== */
    --border-color: #3a3d41;
    --shadow-color: rgba(0,0,0,0.4);
    --shadow-alt-color: rgba(0,0,0,0.2);

    /* ===== SPECIAL ===== */
    --overlay-color: rgba(255,255,255,0.15);
}
