
:root {
    --transicion: 0.6s ease;
    font-family: "Segoe UI", Roboto, sans-serif;
}

/* =============================
   GENERAL RESET & BASE STYLES
============================= */

body {
    font-family: 'Poppins', sans-serif;
    color: var(--text-primary-color);
    background-color: var(--main-bg-color);
    line-height: 1.6;
    margin: 0;
}

.hidden {
    display: none;
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease;
}

.hidden {
    display: none;
}

/* =============================
   HERO CANVAS BACKGROUND
============================= */
#hero-background {
    position: fixed; /* important: cover entire viewport, behind everything */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
